.scrollable-content {
    scrollbar-width: thin;
    scrollbar-color: #f1f2f2 #fff;
  }
  
  .scrollable-content::-webkit-scrollbar {
    scrollbar-gutter: stable;
    width: 1px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color:  #181818;
    border-radius: 0
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background-color: #181818;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  